<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand page-scroll' href='/'>
              <span class="navbar-brand-label">The Happy Lab at Arizona State University</span>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                  {% for nav in site.nav %}
                  <li>
                    <a
                      class='name'
                      href="{{ nav.href }}"
                      {% if nav.href == '/apply/' %}
                        data-analytics-event="apply_click"
                        data-analytics-param-context="navbar_join_lab"
                        data-analytics-param-apply-target="join_lab_page"
                      {% endif %}
                    >{{ nav.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>
