{% assign sorted_publications = site.data.publications | sort: "date" | reverse %}
{% for pub in sorted_publications %}
  {% capture bib_author_line %}{% for author in pub.authors %}{% assign bib_author_name = author %}{% assign bib_author_suffix = '' %}{% if author.name %}{% assign bib_author_name = author.name %}{% assign bib_author_suffix = author.suffix | default: '' %}{% endif %}{{ bib_author_name | replace: '*', '' | strip }}{{ bib_author_suffix | replace: '*', '' }}{% unless forloop.last %} and {% endunless %}{% endfor %}{% endcapture %}
  <p>
    <strong>{{ pub.title }}</strong>
    <br>
    {%- for author in pub.authors -%}
      {%- assign author_name = author -%}
      {%- assign author_class = nil -%}
      {%- assign author_suffix = nil -%}
      {%- if author.name -%}
        {%- assign author_name = author.name -%}
        {%- assign author_class = author.class -%}
        {%- assign author_suffix = author.suffix -%}
      {%- endif -%}
      {%- if author_class -%}
        <span class="{{ author_class }}">{{ author_name }}</span>{%- if author_suffix -%}{{ author_suffix }}{%- endif -%}
      {%- else -%}
        {{ author_name }}{%- if author_suffix -%}{{ author_suffix }}{%- endif -%}
      {%- endif -%}{%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
    <br>
    {% assign pub_year = pub.year | append: '' %}
    {% if pub.venue contains pub_year %}
      {{ pub.venue }}
    {% else %}
      {{ pub.venue }}, {{ pub.year }}
    {% endif %}
    <br>
    {% if pub.links %}
      {% for link in pub.links %}
        {% if link.url %}
          <a type="button" class="btn btn-{{ link.style | default: 'info' }} btn-xs" href="{{ link.url }}">{{ link.label }}</a>{% if pub.badge and forloop.last %} <span class="label label-success">{{ pub.badge }}</span>{% endif %}{% unless forloop.last %} {% endunless %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <button type="button" class="btn btn-info btn-xs js-copy-bib" data-title="{{ pub.title | escape }}" data-authors="{{ bib_author_line | strip | escape }}" data-booktitle="{{ pub.venue | escape }}" data-year="{{ pub.year }}">Bib</button>
    <br>
    {% if pub.news %}
      <span style="font-size:80%">
        News:
        {% for item in pub.news %}
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.label }}</a>{% unless forloop.last %}, {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
      <br>
    {% endif %}
    {% if pub.notes %}
      {% for note in pub.notes %}
        <span style="font-size:80%">{{ note }}</span>
        <br>
      {% endfor %}
    {% endif %}
  </p>
{% endfor %}
