{% assign sorted_publications = site.data.publications | sort: "date" | reverse %}
{% for pub in sorted_publications %}
  <p>
    <strong>{{ pub.title }}</strong>
    <br>
    {%- for author in pub.authors -%}
      {%- assign author_name = author -%}
      {%- assign author_class = nil -%}
      {%- assign author_suffix = nil -%}
      {%- if author.name -%}
        {%- assign author_name = author.name -%}
        {%- assign author_class = author.class -%}
        {%- assign author_suffix = author.suffix -%}
      {%- else -%}
        {%- if author_name contains 'Jaron Mink' -%}
          {%- assign author_class = 'jaron' -%}
        {%- elsif author_name contains 'Nihaarika Agarwal' -%}
          {%- assign author_class = 'lab-member' -%}
        {%- endif -%}
      {%- endif -%}
      {%- if author_class -%}
        <span class="{{ author_class }}">{{ author_name }}</span>{%- if author_suffix -%}{{ author_suffix }}{%- endif -%}
      {%- else -%}
        {{ author_name }}{%- if author_suffix -%}{{ author_suffix }}{%- endif -%}
      {%- endif -%}{%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
    <br>
    {% assign pub_year = pub.year | append: '' %}
    {% if pub.venue contains pub_year %}
      {{ pub.venue }}
    {% else %}
      {{ pub.venue }}, {{ pub.year }}
    {% endif %}
    <br>
    {% for link in pub.links %}
      {% assign link_href = link.url %}
      {% if link.url_key %}
        {% assign link_href = site.data.links[link.url_key] %}
      {% endif %}
      {% if link_href %}
        <a type="button" class="btn btn-{{ link.style | default: 'info' }} btn-xs" href="{{ link_href }}">{{ link.label }}</a>{% if pub.badge and forloop.last %} <span class="label label-success">{{ pub.badge }}</span>{% endif %}{% unless forloop.last %} {% endunless %}
      {% endif %}
    {% endfor %}
    {% if pub.links %}
      <br>
    {% endif %}
    {% if pub.news %}
      <span style="font-size:80%">
        News:
        {% for item in pub.news %}
          {% assign item_href = item.url %}
          {% if item.url_key %}
            {% assign item_href = site.data.links[item.url_key] %}
          {% endif %}
          {% if item_href %}
            <a href="{{ item_href }}">{{ item.label }}</a>{% unless forloop.last %}, {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
      <br>
    {% endif %}
    {% if pub.notes %}
      {% for note in pub.notes %}
        <span style="font-size:80%">{{ note }}</span>
        <br>
      {% endfor %}
    {% endif %}
  </p>
{% endfor %}
